@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Bangers|Rubik+Mono+One&display=swap');

body {
    font-family: 'Rubik Mono One', sans-serif;
    font-family: 'Bangers', cursive;
    font-family: 'Amatic SC', cursive;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 20px;
}

h5 {
    font-size: 13px;
}